{% from 'snack_card.html' import snack_card %}
{% extends "base.html" %}
{% block content %}
  {% include "navbar.html" %}
  <section class="section">
    <div class="fixed-grid has-4-cols">
      <div class="grid">
    <div class="cell is-col-span-3 fixed-grid has-3-cols">
      <div class="grid">
        {% for product in products %}{{ snack_card(product) }}{% endfor %}
      </div>
    </div>
    <div class="cell box has-background-grey-dark" id="payment-form-container">

      {% include "payment-form.html" %}

    </div>
  </section>
{% endblock %}
{% block scripts %}<script src="/static/js/index.js"></script>{% endblock %}
